{{! Maintainers - Kev Adsett}}
<div class="component-inner order-inner">
    {{#if title}}
    <div class="component-title order-title">
        <h4 class="component-title-inner order-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="component-body order-body">
        <div class="component-body-inner order-body-inner">
            {{{body}}}
        </div>
    </div>
    {{/if}}
    {{! complex unless and if combination to set the correct classes for CSS to use in showing marking and disabled states}}
    <div class="component-widget order-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete submitted user {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
        {{#each items}}
        <div class="order-item item clearfix {{#unless ../_isEnabled}}{{#if correct}}correct{{else}}incorrect{{/if}}{{/unless}}">
            {{#if prefix}}
                <label class="order-item-prefix">{{{prefix}}}</label>
            {{/if}}
            {{#if ../_isEnabled}}
                <input type="text" placeholder="{{../placeholder}}" class="order-item-textbox" id="input-{{@index}} data-id="input-{{@index}}" data-index="{{@index}}" value=""  disabled="true">
            {{else}}
                <input type="text" placeholder="{{../placeholder}}" class="order-item-textbox" id="input-{{@index}} data-id="input-{{@index}}" data-index="{{@index}}" value="{{userAnswer}}" disabled="true">
            {{/if}}
            <div class="order-item-reorder">
                <span class="order-icon order-up-icon icon icon-up" data-id="{{@index}}">
                    <!--a href="moveAlternativeUp({{@index}});"--> 
                        <img src="assets/up.png">
                    <!--/a--> 
                </span>
                <span class="order-icon order-down-icon icon icon-down" data-id="{{@index}}">
                    <!--a href="moveAlternativeDown({{@index}});"-->
                        <img src="assets/down.png">
                    <!--/a--> 
                </span>
            </div>
            <div class="order-item-state">
                <div class="order-icon order-correct-icon icon icon-tick"></div>
                <div class="order-icon order-incorrect-icon icon icon-cross"></div>
            </div>
        </div>
        {{/each}}
        {{! if statements set default button labels if unset in json}}
        <div class="buttons">
             <a href="#" class="button submit">
                <span>  
                    {{{buttons.submit}}} 
                </span>
            </a>
            <a href="#" class="button reset">
                <span>
                    {{{buttons.reset}}} 
                </span>
            </a>
            <a href="#" class="button model">
                <span> 
                    {{{buttons.showCorrectAnswer}}} 
                </span>
            </a>
            <a href="#" class="button user">
                <span>
                    {{{buttons.hideCorrectAnswer}}} 
                </span>
            </a>            
        </div>
    </div>
</div>